//Xinia Aguilar
@import 'fonts';
@import 'vars';
@import 'media-queries';
$fondo:#353f46;
$title: #fff;
$blu:#4bcaff;
$margen:2rem;
body{
    background: $fondo;
    padding-left: 0%;
    padding-right: 0%;

    @include respond-to($phone){
    
    }
    @include respond-to($tablet-portrait){
        background: rgb(113, 240, 240);  
      }
}
//nav**********************************
.nav{
    background: $fondo;
    padding: 1em 10%;
    position: fixed; 
    width: 80%; 
}
.menu-nav{
    color: $title;
    background-color:$fondo;
    padding-left: 10%;
    padding-right: 10%;
   
}
.bluasy{
    display: block;
    color: $title;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoBold;
    text-decoration: none;
}

.e{
    color: $blu;
}

.barra{
    text-decoration: none;
    color: $title;
    &:hover{
        color: $title;
    }
}

.pornav{
    color: $title;
    text-decoration: none;
    font-size: 14px;
    font-family: NotoBold;
    margin: 0;
    padding: .3em .8em;
    &:hover{
        color: $blu;
    padding: .2em .7em;
    border: .1em solid $blu;
    }

}

.col-sm-2{
    background: $fondo;
    color: rgb(255, 249, 249);
}
.centertitle{
    display: flex;
    
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-family: NotoLight;
    
  }
  .bimage{
    background-image: url(../imgs/header.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 5em 10%;
  }
 //*********************************************************** 
//servicios
.row {
    --bs-gutter-x: 0;
}
.menu-ser{
    color: $title;
    background-color:$blu ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.ser{
    display: block;
    color: $title;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
}

.span-ser{
    border-bottom: 3px solid;
}
.colna{
    display: block;
    margin: 0em;
}
.tituser{
    font-size: 24px;
    font-family: NotoRegular;
}
.coff{
    font-size: 12px;
    font-family: NotoRegular;
    padding-right: 20px;
}

//********************************************************
//PORTFOLIO
.menu-por{
    color: $fondo;
    background-color:$title ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.por{
    display: block;
    color: $fondo;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
}

.porall{
        color: $fondo;
        text-decoration: none;
        margin: 0;
        font-size: 14px;
        font-family: NotoBold;
        padding: .3em .8em;
        &:hover{
        color: $blu;
        padding: .2em .7em;
        border: .1em solid $blu;
        }
 }
//************************************************
//DEFAULT
.menu-def{
    color: $title;
    background-color:$fondo ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.def{
    display: block;
    color: $title;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
}

.defaul{
    font-size: 14px;
    font-family: NotoRegular;
  
}
.p{
    width: 100%;
}
.video{
    width: auto;
    height: 100%;
}

.visit{
    color:$fondo;
    text-decoration: none;
    margin: 0;
    padding: .3em .8em;
    font-size: 14px;
    font-family: NotoBold;
    &:hover{
    color:$fondo;
    padding: .2em .7em;
    border: .1em solid $fondo;
    }
}

//************************************************
//twitter
.icon{
    margin-left: 52em;
    margin-top: -6em;
}
.twit{
    margin: 0;
    padding: 2em 0 .5em;
    font-family: NotoLight;
    color: $title;
    text-align: left;
    font-size: 1.5em;
   
}
.cheesecase{
    font-size: .8em;
    font-family: NotoRegular;
}
//*****************************************************
//Who is jonh doe
.menu-who{
    color: $title;
    background-image: url(../imgs/camera.jpg);
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}
.icon-who{
    border: .1em solid $title;
    padding: 1em;
    margin-top: 1em;
    float: left;
    margin-right: 2em;
    position: static;
    width: 4em;
    height: 4em;

    &:hover{
        border: .1em solid $blu;
    }
}
.who{
    margin: 0;
    font-family: NotoRegular;
    color: $title;
    text-align: left;
    font-size: 14px;
   
}
//Testimonial
.menu-tes{
    color: $fondo;
    background-color:$title;
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}

.test{
    margin: 0;
    padding: 2em 0 .5em;
    font-family: NotoLight;
    color: $fondo;
    text-align: left;
    font-size: 30px;
   
}
.atest{
    margin: 0;
    font-family: NotoLigh;
    color: $fondo;
    text-align: left;
    font-size: 28px;
   
}
.walter{
    font-size: 14px;
    font-family: NotoBold;
    color:$blu
}
//**************************************
//Contacto
.menu-conta{
    color: $title;
    background-image: url(../imgs/contact.jpg);
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}

.form{
    background-color: transparent;
    width: 23em;
}
.forme{
    background-color: transparent;
    width: 90%;
}
.mess{
    background-color: $blu;
    width: 20em;
}
//***********************
//FOOTER
.foo{
    background-color: #353f47;
}

.menu-for{
    color: $fondo;
    background-color:#353f47 ;
    padding-left: 10%;
    padding-right: 10%;
   
}

.porfor{
    color: $title;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    font-family: Notoregular;
    padding: .3em .8em;
    &:hover{
    color: $blu;
    padding: .2em .7em;
    border: .1em solid $blu;
    }
}

.dos{
    color: $title;
    text-decoration: none;
    margin-left:35em;
    font-size: 12px;
    font-family: Notoregular;
    padding: .3em .8em;
    
}








//*********************************************media
@media (max-width: 800px) {
    .image{
        width: 160px; 
        margin-top: $margen;
    }
}
.imagejust{
    width: 100%;
    height: 12em;
    margin-top: 2em;
}
.box {
  border: 1px solid #333333;
  width: 200px;
  height: 100px;
  overflow: hidden;
}


