//Xinia Aguilar
@import 'fonts';
@import 'vars';
@import 'media-queries';
$fondo:#353f46;
$title: #fff;
$blu:#4bcaff;
$margen:2rem;
body{
    background: $fondo;
    padding-left: 0%;
    padding-right: 0%;

    @include respond-to($phone){
    
    }
    @include respond-to($tablet-portrait){
        background: rgb(113, 240, 240);  
      }
}
//nav**********************************
.nav{
    background: $fondo;
    padding: 1em 10%;
    position: fixed; 
    width: 80vw; 
}
.menu-nav{
    color: $title;
    background-color:$fondo;
    padding-left: 10%;
    padding-right: 10%;
    background-position-y: center;
    background-position-x: center;
    width: 98vw;
}
.bluasy{
    display: block;
    color: $title;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoBold;
    text-decoration: none;
    width: 100vw;
}

.e{
    color: $blu;
}

.barra{
    text-decoration: none;
    color: $title;
    &:hover{
        color: $title;
    }
}

.pornav{
    color: $title;
    text-decoration: none;
    font-size: 14px;
    font-family: NotoBold;
    margin: 0;
    padding: .3em .8em;
    &:hover{
        color: $blu;
    padding: .2em .7em;
    border: .1em solid $blu;
    }

}

.col-sm-2{
    background: $fondo;
    color: rgb(255, 249, 249);
}
.centertitle{
    display: flex;
    
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-family: NotoLight;
    
  }
  .bimage{
    background-image: url(../imgs/header.jpg);
    background-size: cover;
    padding: 4em 10%;
    width: 78vw;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
 //*********************************************************** 
//servicios
.row {
    --bs-gutter-x: 0;
}
.menu-ser{
    color: $title;
    background-color:$blu ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.ser{
    display: block;
    color: $title;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
}

.span-ser{
    border-bottom: 3px solid;
}
.colna{
    display: block;
    margin: 0em;
}
.tituser{
    font-size: 24px;
    font-family: NotoRegular;
}
.coff{
    font-size: 12px;
    font-family: NotoRegular;
    padding-right: 20px;
}

//********************************************************
//PORTFOLIO
.menu-por{
    color: $fondo;
    background-color:$title ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.por{
    display: block;
    color: $fondo;
    margin-top: $margen;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
}

.porall{
        color: $fondo;
        text-decoration: none;
        margin: 0;
        font-size: 14px;
        font-family: NotoBold;
        padding: .3em .8em;
        &:hover{
        color: $blu;
        padding: .2em .7em;
        border: .1em solid $blu;
        }
 }
 
  .portfolio{
    display: inline-block;
    cursor: pointer;
 }
 .col-sm-3{
    flex: 0 0 auto;
    width: 25%;
    padding: 1em;
}
.mas{
    margin-top: -11em;
    text-align: center;
    font-size: 14px;
    font-family: NotoBold;
}
//************************************************
//DEFAULT
.menu-def{
    color: $title;
    background-color:$fondo ;
    padding-left: 10%;
    padding-right: 10%;
   
}
.def{
    display: block;
    color: $title;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: NotoLight;
    text-decoration: none;
    width: 100%;
}

.defaul{
    font-size: 14px;
    font-family: NotoRegular;
  
}
.p{
    width: 100%;
}
.video{
    width: 50vw;
    height: 67%;
  margin-top: 4em;
}

.visit{
    color:$fondo;
    text-decoration: none;
    margin: 0;
    padding: .3em .8em;
    font-size: 14px;
    font-family: NotoBold;
    &:hover{
    color:$fondo;
    padding: .2em .7em;
    border: .1em solid $fondo;
    }
}

//************************************************
//twitter
.icon{
    margin-left: 52vw;
    margin-top: -6em;
}
.twit{
    margin: 0;
    padding: 2em 0 .5em;
    font-family: NotoLight;
    color: $title;
    text-align: left;
    font-size: 1.5em;
   
}
.cheesecase{
    font-size: .8em;
    font-family: NotoRegular;
}
//*****************************************************
//Who is jonh doe
.menu-who{
    color: $title;
    background-image: url(../imgs/camera.jpg);
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}
.icon-who{
    border: .1em solid $title;
    padding: 1em;
    margin-top: 1em;
    float: left;
    margin-right: 2em;
    position: static;
    width: 4em;
    height: 4em;

    &:hover{
        border: .1em solid $blu;
    }
}
.who{
    margin: 0;
    font-family: NotoRegular;
    color: $title;
    text-align: left;
    font-size: 14px;
    padding: 4em;
}
//Testimonial
.menu-tes{
    color: $fondo;
    background-color:$title;
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}

.test{
    margin: 0;
    padding: 2em 0 .5em;
    font-family: NotoLight;
    color: $fondo;
    text-align: left;
    font-size: 30px;
   
}
.atest{
    margin: 0;
    font-family: NotoLigh;
    color: $fondo;
    text-align: left;
    font-size: 28px;
   
}
.walter{
    font-size: 14px;
    font-family: NotoBold;
    color:$blu
}
//**************************************
//Contacto
.menu-conta{
    color: $title;
    background-image: url(../imgs/contact.jpg);
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
}

.form{
    background-color: transparent;
    width: 23vw;
}
.forme{
    background-color: transparent;
    width: 61vw;
}
.mess{
    background-color: $blu;
    width: 20vw;
}
//***********************
//FOOTER

.porfor{
    color: $title;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    font-family: Notoregular;
    padding: .3em .8em;
    width: 80vw; 
    &:hover{
    color: $blu;
    padding: .2em .7em;
    border: .1em solid $blu;
    }
}

.dos{
    color: $title;
    text-decoration: none;
    margin-left:35em;
    font-size: 12px;
    font-family: Notoregular;
    padding: .3em .8em;
    
}








//*********************************************media
@media (min-width: 400px) and (max-width: 800px) {
    .image{
        width: 160px; 
        margin-top: $margen;
    }
}
.imagejust{
    width: 100%;
    height: 12em;
    margin-top: 2em;
}
.box {
  border: 1px solid #333333;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

@media (min-width: 980px) and (max-width: 1200px) {
    .barra {
        margin-left: -1em;
    }
    .icon-who {
        border: 0.1em solid #fff;
        padding: 1em;
        position: center;
        width: 3.5em;
        height: 4em;
        margin-right: 1em;
    }
    .def {
        font-size: 28px;  
    }
    .porfor {
        padding: 0em 0em;  
        margin-right: 97px;
    }
    .dos {
      
        margin-left: 4em;
    }
    .icon {
        margin-left: 66vw;
        
    }
    .video {
        width: 37vw;
        margin-left: 2em;
    }
}
@media (min-width: 767px) and (max-width: 979px) {
    .icon {
        margin-left: 61vw;
        
    }
    .navbar{
        align-items: baseline;
    }
    .icon-who {
       
        margin-right: 0.2em;
        width: 3.5em;
    }  
    .def {
        font-size: 22px;  
    }
   
    .mas {
        margin-top: -5em;
    }
    .ser{
        font-size: 22px;   
    }
    .por{
        font-size: 22px;   
    }
    .bluasy{
        font-size: 22px;   
    }
    .test{
        font-size: 22px;   
    }
    .porfor {
        padding: 0em 0em;  
        margin-left: 4em;
    }
    .porall{
        font-size: 11px; 
    }
    .dos {
      
        margin-left: 4em;
    }
    
    .video {
        width: 35vw;
        margin-left: 2em;
    }
}

@media (min-width: 480px) and (max-width: 766px) {
    .body{
    width: 70vw;
    }
    .icon {
        margin-left: 43vw;
        
    }
    .nav{
        margin-left: 0em;
        width: 83vw;
    }
    .navbar{
        align-items: baseline;
    }
    .menu-nav{
    background-position-y: center;
    background-position-x: center;
    width: 100vw;
    }
    .bimage{
        width: 80vw;
    }
    .icon-who {
       
        margin-right: 0.4em;
        width: 3.5em;
    } 
    .menu-who{
      width: 83vw;
        
    }
    .who{
       padding: 1m; 
       font-size: 12px;
    } 
    .def {
        font-size: 22px;  
        width: 63vw;
        height: 15%;
    }
   
    .mas {
        margin-top: -3em;
    }
    .ser{
        font-size: 22px;   
    }
    .por{
        font-size: 22px;   
    }
    .bluasy{
        font-size: 22px;   
    }
    .test{
        font-size: 22px;   
    }
    .porfor {
        padding: 0em 0em;  
        margin-left: 4em;
    }
    .porall{
        font-size: 11px; 
    }
    .dos {
      
        margin-left: 4em;
    }
    
    .video {
        width: 60vw;
       margin-top: -9em;
       margin-bottom: -4em;
    }
    .mt-3 {
        margin-top: 0rem !important;
    }
    .menu-conta{
        width: 83vw;
    }
    .forme{
        width: 51vw;
    }
    .menu-por{
        padding-left: 6%;
        padding-right: 0%;
        width: 83vw;
    }
}

    @media (min-width: 413px) and (max-width: 479px) {
        .body{
        width: 70vw;
        }
        .icon {
            margin-left: 43vw;
            
        }
        .nav{
            margin-left: 0em;
            width: 83vw;
        }
        .navbar{
            align-items: baseline;
        }
        .menu-nav{
        background-position-y: center;
        background-position-x: center;
        width: 100vw;
        }
        .bimage{
            width: 80vw;
        }
        .icon-who {
           
            margin-right: 0.4em;
            width: 3.5em;
        } 
        .menu-who{
          width: 83vw;
            
        }
        .who{
           padding: 1m; 
           font-size: 12px;
        } 
        .def {
            font-size: 22px;  
            width: 63vw;
            height: 15%;
        }
       
        .mas {
            margin-top: -3em;
        }
        .ser{
            font-size: 22px;   
        }
        .por{
            font-size: 22px;   
        }
        .bluasy{
            font-size: 22px;   
        }
        .test{
            font-size: 22px;   
        }
        .porfor {
            padding: 0em 0em;  
            margin-left: 4em;
        }
        .porall{
            font-size: 11px; 
        }
        .dos {
          
            margin-left: 4em;
        }
        
        .video {
            width: 60vw;
           margin-top: -9em;
           margin-bottom: -4em;
        }
        .mt-3 {
            margin-top: 0rem !important;
        }
        .menu-conta{
            width: 83vw;
        }
        .forme{
            width: 51vw;
        }
        .menu-por{
            padding-left: 6%;
            padding-right: 0%;
            width: 83vw;
        }
    }